@import "variables";

.header-title {
  margin-bottom: 20px;
  border-bottom: 4px solid $column-color;

  color: $content-text-color;
  font-size: 18px;


  &.invert {
    border-color: $high-light-color;
  }
}

.block {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  display: flex;
  flex-direction: row;

  & > a {
    color: $menu-base-color;
  }
}

.full-navigation {
  display: flex;
  flex-direction: column;
  & > a {
    color: $menu-base-color;
  }
}

.column {
  background-color: $column-color;
  width: 200px;
}